<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #FF4500;
   color: white;
   text-align: center;
}
</style>
</head>
<body>


<H4> Cher  M. {{ father_name }}</H4>

<br>
Suite à votre inscription au programme Supercodeurs,<br>
Veuillez  trouver ci-dessous les  paramètres de connexion à la plateforme de formation CAYSTI :

<hr>
<h5>Login: {{ login }}</h5>
<h5>Password: {{ password }}</h5>
<p>Pour vous connecter, merci de: <a href="https://mycaysti.com/"><h2>Cliquer ici</h2></a></p>

<p>L'Equipe CAYSTI</p>

<div class="footer">
  <p>Powered by Caysti@2020</p>
</div>
</body>
</html>